/* ==================================================
 _mixin.scss
 mixinスタイル 定義
================================================== */
@use "sass:math";
@use "../config/variables" as *;
@use "./animation" as *;

/* ==================================================
 ページ最大横幅
================================================== */
@mixin maxWidth {
	max-width: 1280px;
	margin: 0 auto;
}

/* ==================================================
 内部コンテンツ横幅
================================================== */
@mixin innerWidth {
	max-width: 960px;
	margin: 0 auto;
}